################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/Api/bin
/Api/obj/Debug
/AutoMapperConfig/obj/Debug
/EntityFrameworkConfig/obj/Debug
/IOCConfig/obj/Debug
/packages
/ProjetoContext/obj/Debug
/SharedKernel/obj/Debug
/.vs
/AutoMapperConfig/bin/Debug
/EntityFrameworkConfig/bin/Debug
/IOCConfig/bin/Debug
/ProjetoContext/bin/Debug
/SharedKernel/bin/Debug
